:root {
    --yellow: #FFD92E;
    --cyan: #00FFF6;
    --pink: #FF51D8;
    --orange: #FF6E10;
    --background: #1D1929;
    --background-grey: #272333;
    --white: #FFFFFF;
    --off-white: #C4C4C4;
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-size: 16px;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

ul {
    list-style-type: none;
}


.color-yellow {
    color: var(--yellow);
}

.color-orange {
    color: var(--orange);
}

.color-cyan {
    color: var(--cyan);
}

.color-pink {
    color: var(--pink);
}

.color-white {
    color: var(--white);
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: var(--background);
    position: fixed;
    z-index: 100;

}

.logo-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo-nav {
    width: 3rem;
    margin: .5rem 0rem;
}

.nav-links {
    display: flex;

}

.nav-links li a {
    font-size: 1.5rem;
    color: var(--off-white);
}

.nav-links li:nth-child(2),
.nav-links li:nth-child(3) {
    margin-left: 4rem;
}

.hero-section {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.function-wrapper {
    position: absolute;
    width: 100%;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opac70 {
    opacity: 70%;
}

.opac20 {
    opacity: 20%;
}


.hero-name {
    font-size: 4rem;
}

.function-frontEndDeveloper-container div {
    display: inline-block;
}

.motivations-syntax-container {
    margin-left: 2rem;
}

.motivations-wrapper div {
    display: inline-block;

}

.motivations-string-wrapper {
    height: 2rem;
    /* outline: 1px blue solid; */
    position: relative;
}

.motivations-string-container {
    position: relative;
}

.motivations-string-container::before {
    content: "";
    background-color: var(--cyan);
    position: absolute;
    width: .2rem;
    height: 100%;
    top: 0;
    right: 0;
    animation: blinking 0.7s steps(3) infinite;
}

@keyframes blinking {
    0%,75% {
        opacity: 1;;
    } 76%,100% {
        opacity: 0;
    }
}

.motivations-string-container .motivations-string {
    position: relative;
    height: 2rem;
    /* outline: 1px red solid; */
    animation: typeWriter 8s steps(47) infinite;
    overflow: hidden;
}

@keyframes typeWriter {
    0% {
        width: 0;
    } 90% {
        width: 651.78px;
    }
}

/* .motivations-string-container::before,
.motivations-string-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */





/* .motivations-string-container:nth-child(2) {
    animation: fadeIn 5s infinite alternate;
    color: var(--orange);

} */

@keyframes fadeIn {
    0%,50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

.skills-variable-statment {
    /* outline: 1px blue solid; */
    align-items:baseline;
    position: relative;

}

.skills-variable-statment div {
    display: inline-block;

}

.skills-icons-container {
    display: grid;

    align-items: center;

    /* outline: 1px green solid; */
    position: relative;
}

.sss {
    position: absolute;
    bottom: 0;
}

.skills-icons {
    text-align: center;
}

.skills-text {
    align-items: center;
    text-align: center;
}

.skills-text div{
    display: inline-block;

}

.skill-text {

    color: var(--orange);
}

.projects-container div{
    display: inline-block;
}

.return-container div{
    display: inline-block;
}

#about-section-title div {
    color: var(--off-white);
    font-size: 6rem;
    font-weight: 400;
    width: 100%;
    opacity: 40%;
    text-align: center;
    margin-bottom: 2rem;
}

.about-section-container {
    width: 100%;
    background-color: var(--background-grey);
    box-shadow: 10px 10px 10px black;
}

.about-section-container h2 {
    margin: 2rem auto;
    color: var(--off-white);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 2rem;
}

.about-section-container p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: var(--off-white);
    line-height: 3rem;
    letter-spacing: .1rem;
}

.icon-row-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.icon-row-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.about-icon {
    margin: 0 auto;
    font-size: 4rem;
    margin: 2rem;
}


#portfolio-section-title div {
    color: var(--off-white);
    font-size: 6rem;
    font-weight: 400;
    width: 100%;
    opacity: 40%;
    text-align: center;
    margin-top: 3rem;
}

.portfolio-section-container {
    width: 100%;
    background-color: var(--background-grey);
    box-shadow: 10px 10px 10px black;
}

.portfolio-section-container h2 {
    margin: 2rem auto;
    color: var(--off-white);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 2rem;
}

.about-section-container p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: var(--off-white);
    line-height: 3rem;
    letter-spacing: .1rem;
}

.icon-row-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.icon-row-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.about-icon {
    margin: 0 auto;
    font-size: 4rem;
    margin: 2rem;
}