:root {
    --yellow: #FFD92E;
    --cyan: #00FFF6;
    --cyan-dark: #014846;
    --cyan-opacity: rgba(0, 255, 246, .2);
    --pink: #FF51D8;
    --pink-glow: #ff00c8;
    --orange: #FF6E10;
    --background: #1D1929;
    --background-grey: #272333;
    --white: #FFFFFF;
    --off-white: #C4C4C4;
    --off-white2: #9b9999;
    --navbar: rgba(29,25,41,.9);
    --box-shadow-black: rgba(0, 0, 0, 0.25);
    --box-shadow-black-lighter: rgba(0, 0, 0, 0.1);
    --box-shadow-black-darker: rgba(0, 0, 0, 0.5);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 7.5rem);
}

.filter-cyan {
    filter: invert(95%) sepia(71%) saturate(6142%) hue-rotate(91deg) brightness(108%) contrast(107%);
}

.filter-pink {
filter: invert(46%) sepia(64%) saturate(1895%) hue-rotate(287deg) brightness(102%) contrast(102%);
}

main {
    width: 80%;
    margin: 0 auto;
}

dialog h2 {
    text-align: center;
}

.modal {
    padding: 1em 3em;
    max-width: 50vw;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    background-color: var(--background);
    color: var(--off-white);
    clip-path: polygon(
        0 5%,
        2% 0,
        100% 0,
        100% 0%,
        100% 95%,
        98% 100%,
        100% 100%,
        0% 100%,
        0% 100%
      )
}
  
.modal::backdrop {
    background: rgb(0 0 0 / 0.7);
}

.modal-sections {
    display: flex;
    gap: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.info {
    height: 2rem;
}

.message {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message p {
    padding: 0;
    margin: 0;
}

.modal-inputs {
    width: 100%;
    font-family: monospace;
    font-size: 1rem;
}

.modal-icon-wrapper {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.modal-icons {
    width: 3rem;
    padding: 0 auto;
}

.button-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.button {
    border: 0;
    cursor: pointer;
    background: var(--gray-8);
    color: var(--gray-2);
    padding: var(--size-2) var(--size-4);
}

.mail-icon {
    height: 7rem;
    outline: 1px solid red;
    position: absolute;
    top: -2.2rem;
    left: -2rem;
}

.mail-icon:active {
    filter: drop-shadow(0 0 0.2em var(--pink));
    /* filter: invert(46%) sepia(64%) saturate(1895%) hue-rotate(287deg) brightness(102%) contrast(102%); */

}

.submit-button {
    display: inline-block;
    background-color: var(--background-grey);
    /* padding: .5rem 2rem; */
    /* border-radius: 3.5rem; */
    cursor: pointer;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    clip-path: polygon(
        0 30%,
        10% 0,
        100% 0,
        100% 0%,
        100% 70%,
        90% 100%,
        10% 100%,
        0% 100%,
        0% 100%
      )
}

.close-button:hover {
    color: var(--white);
}
  
.submit-button:active {
    transform: translateY(2px);
    filter: drop-shadow(0 0 0.2em var(--pink));
    -webkit-filter: drop-shadow(0 0 0.2em var(--pink));
}

.submit-button-wrapper:hover {
    filter: drop-shadow(1px 0px 0px var(--pink))
    drop-shadow(-1px 0px 0px var(--pink))
    drop-shadow(0px 1px 0px var(--pink))
    drop-shadow(0px -1px 0px var(--pink))
    drop-shadow(1px 1px 0px var(--pink))
    drop-shadow(-1px -1px 0px var(--pink))
    drop-shadow(-1px 1px 0px var(--pink))
    drop-shadow(1px -1px 0px var(--pink));
    -webkit-filter: drop-shadow(1px 0px 0px var(--pink))
    drop-shadow(-1px 0px 0px var(--pink))
    drop-shadow(0px 1px 0px var(--pink))
    drop-shadow(0px -1px 0px var(--pink))
    drop-shadow(1px 1px 0px var(--pink))
    drop-shadow(-1px -1px 0px var(--pink))
    drop-shadow(-1px 1px 0px var(--pink))
    drop-shadow(1px -1px 0px var(--pink));
}
  
form {
    display: grid;
    gap: 1em;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

ul {
    list-style-type: none;
}

.color-yellow {
    color: var(--yellow);
}

.color-orange {
    color: var(--orange);
}

.color-cyan {
    color: var(--cyan);
}

.color-pink {
    color: var(--pink);
}

.color-white {
    color: var(--white);
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: var(--navbar);
    position: fixed;
    z-index: 100;

}

.logo-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo-nav {
    width: 3rem;
    margin: .5rem 0rem;
}

.nav-links {
    display: flex;

}

.nav-links li a {
    font-size: 1.5rem;
    color: var(--off-white2);
}

.nav-links li:nth-child(2),
.nav-links li:nth-child(3) {
    margin-left: 4rem;
}

.nav-links li a:hover {
    color: var(--white);
}

.open-button {
    cursor: pointer;
}

.btn-secondary {
    cursor: pointer;
    background-color: red;
}

.hero-section {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.function-wrapper {
    position: absolute;
    width: 100%;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opac70 {
    opacity: 70%;
}

.opac20 {
    opacity: 20%;
}


.hero-name {
    font-size: 4rem;
}

.hero-project-button-wrapper:hover {
    filter: drop-shadow(1px 0px 0px var(--pink))
    drop-shadow(-1px 0px 0px var(--pink))
    drop-shadow(0px 1px 0px var(--pink))
    drop-shadow(0px -1px 0px var(--pink))
    drop-shadow(1px 1px 0px var(--pink))
    drop-shadow(-1px -1px 0px var(--pink))
    drop-shadow(-1px 1px 0px var(--pink))
    drop-shadow(1px -1px 0px var(--pink));
}

.hero-project-button {
    display: inline-block;
    background-color: var(--background-grey);
    padding: .5rem 2rem;
    /* border-radius: 3.5rem; */
    cursor: pointer;
    clip-path: polygon(
        0 30%,
        10% 0,
        100% 0,
        100% 0%,
        100% 70%,
        90% 100%,
        10% 100%,
        0% 100%,
        0% 100%
      )
}

.hero-project-button:hover {
    /* background-color: rgb(71, 47, 72); */
    transition: background-color 200ms ease-in;
    color: var(--pink);
}
  
.hero-project-button:active {
    /* transition: outline 100ms ease-in; */
    /* background-color: var(--background-grey); */
    box-shadow: .5px .5px 3px;
    transform: translateY(4px);
    text-shadow: 0 0 0.2em var(--pink);
}

.function-frontEndDeveloper-container div {
    display: inline-block;
}

.motivations-syntax-container {
    margin-left: 2rem;
}

.motivations-wrapper div {
    display: inline-block;

}

.motivations-string-wrapper {
    height: 2rem;
    /* outline: 1px blue solid; */
    position: relative;
}

.motivations-string-container {
    position: relative;
}



.motivations-string-container .motivations-string {
    position: relative;
    height: 2rem;
    overflow: hidden;
}


.skills-variable-statment {
    /* outline: 1px blue solid; */
    align-items:baseline;
    position: relative;

}

.skills-variable-statment div {
    display: inline-block;

}

.skills-icons-container {
    display: grid;

    align-items: center;

    /* outline: 1px green solid; */
    position: relative;
}

.skills-icons {
    text-align: center;
}

.skills-text {
    align-items: center;
    text-align: center;
}

.skills-text div{
    display: inline-block;

}

.skill-text {

    color: var(--orange);
}

.projects-container div{
    display: inline-block;
}

.return-container div{
    display: inline-block;
    height: 4rem;
}

.about-section-wrapper {
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: center;

}

#about-section-title div {
    color: var(--off-white);
    font-size: 10rem;
    font-weight: 400;
    width: 100%;
    opacity: 40%;
    text-align: center;
    margin-bottom: 2rem;
    position: absolute;
}

.about-section-container {
    width: 98%;
    background-color: var(--background-grey);
    box-shadow: 25px 25px 50px var(--box-shadow-black), -10px -10px 30px var(--box-shadow-black-lighter), inset -5px -5px 15px var(--box-shadow-black-darker);
    border-radius: 2rem;
    /* margin-bottom: 4.5rem; */
    position: relative;
    top: 12rem;
}

.about-section-container h2 {
    margin: 2rem auto;
    color: var(--off-white);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 2rem;
}

.about-section-container p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: var(--off-white);
    line-height: 3rem;
    letter-spacing: .1rem;
}

.icon-row-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.icon-row-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.about-icon {
    margin: 0 auto;
    font-size: 4rem;
    margin: 2rem;
}

/*
@media only screen and (max-width: 1000px) {
    
    .portfolio-section-wrapper {
        position: relative;
        top: 14rem;
        width: 100%;
    }
    
    #portfolio-section-title div {
        color: var(--off-white);
        font-size: 10rem;
        font-weight: 400;
        width: 100%;
        opacity: 40%;
        text-align:start;
        margin-bottom: 2rem;
        position: absolute;
    }
    
    .portfolio-section-container {
        width: 100%;
        padding: 1rem 0;
        padding-left: .5rem;
        display: grid;
        grid-template-columns: 25rem 25rem 25rem 25rem 25rem 25rem;
        row-gap: 1rem;
        column-gap: 1rem;
        margin-bottom: 4.5rem;
        overflow: hidden;
        justify-content: start;
        position: relative;
        top: 12rem;
    }
    
    .portfolio-projects-wrapper {
        width: 100%;
        height: 25rem;
    }
    
    .portfolio-projects-1 {
        background-color: var(--background-grey);
        background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 21.37.06.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;
    }
    
    .portfolio-projects-2 {
        background-color: var(--cyan-opacity);
        background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 22.14.46.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 20rem;
        width: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .portfolio-projects-3 {
        background-color: var(--cyan-opacity);
        background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 22.07.19.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 20rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .portfolio-projects-4 {
        background-color: var(--cyan-opacity);
        background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 22.07.28.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 20rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .portfolio-projects-5 {
        background-color: var(--cyan-opacity);
        background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 22.07.40.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 20rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .portfolio-projects-6 {
        background-color: var(--cyan-opacity);
        background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 22.09.58.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 20rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .background-tint {
        background-blend-mode:soft-light;
      }
    
    .portfolio-projects-1:hover,
    .portfolio-projects-2:hover,
    .portfolio-projects-3:hover,
    .portfolio-projects-4:hover,
    .portfolio-projects-5:hover,
    .portfolio-projects-6:hover  {
        outline: var(--cyan) .1em solid;
    }
    
    .explore-more-button-container {
        padding: 2rem;
        padding-bottom: 5rem;
        /* padding-top: 50rem;
    }


    
    .explore-more-button {
        background-color: var(--background-grey);
        border-radius: 3.5rem;
        box-shadow: 1px 3px 3px var(--pink);
        cursor: pointer;
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    
    .explore-more-button:hover {
        background-color: rgb(71, 47, 72);
        transition: background-color 200ms ease-in;
    }
      
    .explore-more-button:active {
        transition: outline 100ms ease-in;
        //background-color: var(--background-grey);
        box-shadow: .5px .5px 3px;
        transform: translateY(4px);
    }

}  */


.portfolio-section-wrapper {
    position: relative;
    top: 14rem;
    width: 100%;
    grid-template-rows:25% 75%;
    display: grid;
    grid-auto-flow: row;
    height: 45rem;
}

#portfolio-section-title div {
    color: var(--off-white);
    font-size: 10rem;
    font-weight: 400;
    opacity: 40%;
    text-align:start;
}

.portfolio-section-container {
    position: absolute;
    top: 12rem;
    overflow: hidden;
    /* justify-content: start; */
    display: grid;
    grid-template-rows:4fr 2fr;
    width: 100%;
    height: 100%;
    align-content: center;
}

.portfolio-box1 {
    padding-top: 1px;
    display: grid;
    grid-template-columns:99%;
    justify-content: center;
}

.portfolio-box2 {
    display: grid;
    grid-template-columns:33% 33% 33%;
    justify-content: center;
    gap: 1.5px;
}


 .portfolio-projects-1 {
    background-color: var(--background-grey);
    background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 21.37.06.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 1rem;
    /* width: 100%; */
    height: 99.7%;
}



.portfolio-projects-2 {
    background-color: var(--background-grey);
    background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 22.14.46.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 1rem;
    /* width: 100%; */
    height: 99%;
}


.portfolio-projects-3 {
    background-color: var(--background-grey);
    background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 22.07.19.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 1rem;
    /* width: 100%; */
    height: 99%;
}

.portfolio-projects-4 {
    background-color: var(--background-grey);
    background-image:url("/resources/images/Screen\ Shot\ 2022-06-25\ at\ 22.07.28.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 1rem;
    /* width: 100%; */
    height: 99%;
}

.project-name-large {
    color: var(--off-white);
    font-size: 4rem;
}

.project-name-small {
    color: var(--off-white);
    font-size: 3rem;
}

.background-tint {
    background-blend-mode:soft-light;
  }


.portfolio-projects-1:hover,
.portfolio-projects-2:hover,
.portfolio-projects-3:hover,
.portfolio-projects-4:hover {
    outline: var(--cyan) .1em solid;
    background-color: rgba(0, 0, 0, 0.1);
}



.section-unknown {
    position: relative;
    top: 30rem;
}




